h1{
    color: #eeaa99;

}
h2{
    padding-top: 20px;
    color: #10aabb;
    font-size:30px;
    padding-left:50px;
}
ul{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:70px;
}
img{
    padding-left:90px;
}
button{
    font-size: 15px;
    padding: 10px;
    background-color:white;
    border-width:6px;
    border-style:outset;
    border-color: red green blue yellow;
}
